<ion-header>
  <div class="head">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img src="assets/logo.png" class="logo" slot="end">
    </ion-toolbar>
  </div>
</ion-header>

<ion-content class="content">
  <div class="perfil">
    <div class="perfil-imagen">
      <!-- Cambia la imagen de perfil al tomar una foto -->
      <img [src]="imagen" class="perfil" alt="Foto de Perfil" (click)="takePicture()">
    </div>

    <ion-list class="datos-container" *ngIf="usuario">
      <!-- Campo Nombre -->
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input
          [(ngModel)]="usuario.nombre"
          *ngIf="editableCampos.nombre"
          (ionBlur)="guardarCambios('nombre')">
        </ion-input>
        <div *ngIf="!editableCampos.nombre" (click)="activarEdicion('nombre')" style="display: flex; align-items: center;">
          <ion-text>{{ usuario.nombre }}</ion-text>
          <ion-icon name="pencil-outline" style="margin-left: 8px; font-size: 16px; color: gray; cursor: pointer;"></ion-icon>
        </div>
      </ion-item>

      <!-- Campo Apellido -->
      <ion-item>
        <ion-label>Apellido:</ion-label>
        <ion-input
          [(ngModel)]="usuario.apellido"
          *ngIf="editableCampos.apellido"
          (ionBlur)="guardarCambios('apellido')">
        </ion-input>
        <div *ngIf="!editableCampos.apellido" (click)="activarEdicion('apellido')" style="display: flex; align-items: center;">
          <ion-text>{{ usuario.apellido }}</ion-text>
          <ion-icon name="pencil-outline" style="margin-left: 8px; font-size: 16px; color: gray; cursor: pointer;"></ion-icon>
        </div>
      </ion-item>

      <!-- Campo Rut -->
      <ion-item>
        <ion-label>Rut:</ion-label>
        <ion-input
          [(ngModel)]="usuario.rut"
          *ngIf="editableCampos.rut"
          (ionBlur)="guardarCambios('rut')">
        </ion-input>
        <div *ngIf="!editableCampos.rut" (click)="activarEdicion('rut')" style="display: flex; align-items: center;">
          <ion-text>{{ usuario.rut }}</ion-text>
          <ion-icon name="pencil-outline" style="margin-left: 8px; font-size: 16px; color: gray; cursor: pointer;"></ion-icon>
        </div>
      </ion-item>

      <!-- Campo Teléfono -->
      <ion-item>
        <ion-label>Teléfono:</ion-label>
        <ion-input
          [(ngModel)]="usuario.telefono"
          *ngIf="editableCampos.telefono"
          type="tel"
          pattern="[0-9]*"
          maxlength="13"
          (ionBlur)="guardarCambios('telefono')">
        </ion-input>
        <div *ngIf="!editableCampos.telefono" (click)="activarEdicion('telefono')" style="display: flex; align-items: center;">
          <ion-text>{{ usuario.telefono }}</ion-text>
          <ion-icon name="pencil-outline" style="margin-left: 8px; font-size: 16px; color: gray; cursor: pointer;"></ion-icon>
        </div>
      </ion-item>

      <!-- Botones -->
      <ion-item>
        <ion-button expand="full" [routerLink]="['/cambiocon']">Cambiar contraseña</ion-button>
        <ion-button expand="full" (click)="confirmarCambios()">Confirmar Cambios</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
