ion-title {
  background-color: white;
}

.logo {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.perfil {
  background-image: url('/assets/fondo.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: repeat; 
  padding-bottom: 200px;
  width: 100%;
  max-width: 412px;
  padding: 20px;
  background-color: #ef8320;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.datos-container {
  width: 90%; 
  max-width: 450px; 
  margin: 20px auto; 
  padding: 20px; 
  border: 2px solid #0056a3; 
  border-radius: 10px; 
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

ion-item {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 10px;
}

ion-label {
  flex-grow: 1;
  text-align: left; 
}

ion-input, ion-text {
  flex-grow: 2;
  text-align: right; 
}

ion-icon {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}


ion-content.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.perfil {
  flex: 1; 
  display: flex;
  flex-direction: column;
}


ion-button {
  margin-top: 10px; 
}

