

ion-title{

    background-color: white;


}

.logo{

    width: 50px;
   
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
.perfil{

    width: 100%;
    max-width: 412px;
    padding: 20px;
    background-color: #ef8320;
    display: flex; /* Cambiado para alinear hijos */
    flex-direction: column; /* Coloca elementos en columna */
    justify-content: flex-start; /* Mantiene elementos al inicio */
    align-items: center; /* Centra los elementos horizontalmente */
    height: 100%;
    margin: top;
    
}