<ion-header>
  
  <div class="head">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
      <img src="assets/logo.png" class="logo" slot="end">
  </ion-toolbar>
  </div> 
</ion-header>

<ion-content class="">
 <div class="perfil">
  <div class="perfil-imagen">
    <img src="assets/perfil1.jpg"  class="perfil" alt="Foto de Perfil">
  </div>

  
  <ion-list>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-text>GatoComelon69</ion-text>
    </ion-item>


    <ion-item>
      <ion-label>Teléfono</ion-label>
      <ion-text>9 2548 7595 1</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Direccion</ion-label>
      <ion-text>Micasa #8547</ion-text>
    </ion-item>
  </ion-list>
  </div>