<ion-header>
  <div class="head">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img src="assets/logo.png" class="logo" slot="end">
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="perfil">
    <div class="perfil-imagen">
      <!-- Cambia la imagen de perfil al tomar una foto -->
      <img [src]="imagen" class="perfil" alt="Foto de Perfil" (click)="takePicture()">
    </div>

    <ion-list *ngIf="usuario">
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input [(ngModel)]="usuario.nombre" *ngIf="editableCampos.nombre" (ionBlur)="guardarCambios('nombre')"></ion-input>
        <ion-text *ngIf="!editableCampos.nombre" (click)="activarEdicion('nombre')">{{ usuario.nombre }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Teléfono:</ion-label>
        <ion-input [(ngModel)]="usuario.telefono" *ngIf="editableCampos.telefono" (ionBlur)="guardarCambios('telefono')"></ion-input>
        <ion-text *ngIf="!editableCampos.telefono" (click)="activarEdicion('telefono')">{{ usuario.telefono }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Rut:</ion-label>
        <ion-input [(ngModel)]="usuario.rut" *ngIf="editableCampos.rut" (ionBlur)="guardarCambios('rut')"></ion-input>
        <ion-text *ngIf="!editableCampos.rut" (click)="activarEdicion('rut')">{{ usuario.rut }}</ion-text>
      </ion-item>

      <ion-button expand="full" [routerLink]="['/otc']">Olvidaste Tu Contraseña</ion-button>

      <ion-footer>
        <ion-button expand="full" (click)="confirmarCambios()">Confirmar Cambios</ion-button>
      </ion-footer>
    </ion-list>
  </div>
</ion-content>
