

ion-title{

    background-color: white;


}

.logo{

    width: 50px;
   
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
.perfil{
    background-image: url('/assets/fondo.png'); // Ajusta la ruta si es diferente
    background-size: cover;     // Ajusta el tamaño de la imagen para cubrir todo el fondo
    background-position: center; // Centra la imagen
    background-repeat: repeat; // Evita que la imagen se repita
    padding-bottom: 200px;
    width: 100%;
    max-width: 412px;
    padding: 20px;
    background-color: #ef8320;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: top;
    
}