
.form {
    background-image: url('/assets/fondo.png'); // Ajusta la ruta si es diferente
    background-size: cover;     // Ajusta el tamaño de la imagen para cubrir todo el fondo
    background-position: center; // Centra la imagen
    background-repeat: repeat; 
    width: 100%;
    max-width: 412px; 
    padding: 20px;
    background-color: #ef8320;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 120px;
  }