<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Actualiza tu Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (submit)="changePassword()">
        <!-- Nueva Contraseña -->
        <ion-item>
          <ion-label position="floating">Nueva Contraseña</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="newPassword"
            name="newPassword"
            required
          ></ion-input>
        </ion-item>

        <!-- Confirmar Contraseña -->
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
          ></ion-input>
        </ion-item>

        <!-- Botón Cambiar Contraseña -->
        <ion-button
          expand="block"
          type="submit"
          color="primary"
          [disabled]="!newPassword || !confirmPassword"
        >
          Cambiar Contraseña
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
