<ion-header>
  <ion-toolbar>
    <ion-title>Crear Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="newUser.nombre" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="newUser.apellido" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">RUT</ion-label>
    <ion-input [(ngModel)]="newUser.rut" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input [(ngModel)]="newUser.correo" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Clave</ion-label>
    <ion-input [(ngModel)]="newUser.clave" required type="password"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="addUsuario()">Guardar Usuario</ion-button>
</ion-content>
