<ion-header>
  <div class="head">
    <ion-toolbar>

      <img src="assets/logo.png" class="logo" slot="end">
    </ion-toolbar>
  </div>
</ion-header>

<ion-content class="admin-content" fullscreen>
  <div class="fondo">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido Administrador</ion-card-title>
        <ion-card-subtitle>Selecciona una opcion para comenzar</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-button (click)="navigateToHomeAdmin()" size="small" color="light" class="admin-button">
      <div class="button-background">
        <img src="assets/logo.png" class="button-logo">
      </div>
      <span>Administrar Pizzas</span>
    </ion-button>

    <ion-button size="default" color="light" class="admin-button" routerLink="/administrador-usuario">
      <div class="button-background">
        <img src="assets/logo.png" class="button-logo">
      </div>
      <span>Administrar Repartidores</span>
    </ion-button>

    <ion-button size="default"  color="light" class="admin-button" routerLink="/reportes">
      <div class="button-background">
        <img src="assets/logo.png" class="button-logo">
      </div>
      <span>Ver Ventas</span>
    </ion-button>

    <ion-button expand="block" type="submit" color="primary" routerLink="/login">
      Cerrar Sesión
    </ion-button>


  </div>
</ion-content>