<ion-header>
  <div class="head">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="menuP"></ion-menu-button>
      </ion-buttons>
      <img src="assets/logo.png" class="logo" slot="end">
    </ion-toolbar>
  </div> 
</ion-header>

<ion-content>
  <div class="fondo-g" style="padding-bottom: 500px;">

    <ion-list *ngIf="pedidos.length > 0; else noPedidos">
      <ion-list-header>
        <ion-label>Mis Pedidos</ion-label>
      </ion-list-header>
  
      <ion-item *ngFor="let pedido of pedidos">
        <ion-label>
          <h2>Pedido </h2>
          <p>Total: {{ pedido.total | currency }}</p>
          <p>Fecha: {{ pedido.f_pedido | date: 'dd/MM/yyyy HH:mm' : 'es-CL' }}</p>
          <p>Estatus: {{ pedido.estatus }}</p>
  
          <ion-list>
            <ion-item *ngFor="let item of pedido.productos">
              <ion-label>
                {{ item.nombre }} - Cantidad: {{ item.cantidad }} - Subtotal: {{ item.subtotal | currency }}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-label>
      </ion-item>
    </ion-list>
    <ng-template #noPedidos>
      <ion-text>No hay pedidos entregados.</ion-text>
    </ng-template>
  </div>
  
</ion-content>
