.abajo{

    margin-top: auto;

}

ion-list {
    flex-grow: 1; 
  }

.menu-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
ion-footer{
  padding-top: 430px;
  


}

.menudo{
  margin-top: auto;
  padding-top: 50px;
}