<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <img src="assets/logo.png" >

  

  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <div *ngIf="emailError" class="error-message">
      <ion-text color="danger">{{ emailError }}</ion-text>
    </div>
   
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <div *ngIf="passwordError" class="error-message">
      <ion-text color="danger">{{ passwordError }}</ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">Repetir Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
    </ion-item>
    <div *ngIf="passwordMismatchError" class="error-message">
      <ion-text color="danger">{{ passwordMismatchError }}</ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">RUT</ion-label>
      <ion-input type="text" [(ngModel)]="rut" name="rut"></ion-input>
    </ion-item>
    <div *ngIf="rutError" class="error-message">
      <ion-text color="danger">{{ rutError }}</ion-text>
    </div>

    <ion-item>
      <ion-checkbox [(ngModel)]="esDelivery" name="esDelivery"></ion-checkbox>
      <ion-label>¿Eres repartidor?</ion-label>
    </ion-item>


    <ion-button  expand="block" type="submit">Registrar</ion-button>
  </form>

  
</ion-content>
