<ion-header>
    <div class="head">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button menu="menuP"></ion-menu-button>
            </ion-buttons>
            <img src="assets/logo.png" class="logo" slot="end">
        </ion-toolbar>
    </div>
</ion-header>

<ion-content>
    <div class="fondo-g" style="padding-bottom: 750px;">
        <ion-list *ngIf="pedidos.length > 0; else noPedidos">
            <ion-item *ngFor="let pedido of pedidos">
                <ion-label>
                    <h2>Pedido: #{{ pedido.id_pedido }}</h2>
                    <p>Fecha: {{ pedido.f_pedido | date: 'dd/MM/yyyy HH:mm' : 'es-CL' }}</p>
                    <p>Entregado</p>
                </ion-label>
            </ion-item>
        </ion-list>
        <ng-template #noPedidos>
            <ion-card class="ion-text-center" >
                <ion-card-content >
                  <p>No hay pedidos Entregados</p>
                </ion-card-content>
              </ion-card>
        </ng-template>
    </div>

</ion-content>