<ion-header>
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let producto of carrito">
      <ion-label>{{ producto.nombre }}</ion-label>
      <ion-label slot="end">{{ producto.precio | currency }}</ion-label>
      <ion-button (click)="eliminarProducto(producto.id_prod)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="vaciarCarrito()">Vaciar Carrito</ion-button>
</ion-content>
