<ion-header>
  <div class="head">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button (click)="openMenuSecundario()"></ion-menu-button>
      </ion-buttons>
      <img src="assets/logo.png" class="logo" slot="end">
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="perfil">
    <div class="perfil-imagen">
      <img [src]="imagen || 'assets/perfil1.jpg'" class="perfil" alt="Foto de Perfil" (click)="takePicture()">
    </div>

    <ion-list>
      <ion-item (click)="activarEdicion('nombre')">
        <ion-label>Nombre:</ion-label>
        <ion-input [(ngModel)]="repartidorNombre" [readonly]="!editableCampos.nombre"></ion-input>
      </ion-item>

      <ion-item (click)="activarEdicion('telefono')">
        <ion-label>Teléfono:</ion-label>
        <ion-input [(ngModel)]="repartidorTelefono" [readonly]="!editableCampos.telefono" type="tel"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="full" (click)="guardarCambios()">Guardar Cambios</ion-button>
  </div>
</ion-content>
