<ion-header>
  
  <div class="head">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button (click)="openMenuSecundario()"></ion-menu-button>
      </ion-buttons>
      
      <img src="assets/logo.png" class="logo" slot="end">
  </ion-toolbar>
  </div> 
</ion-header>

<ion-content class="">
  <div class="perfil">
    <div class="perfil-imagen">
      <!-- Cambia la imagen de perfil al tomar una foto -->
      <img [src]="imagen || 'assets/perfil1.jpg'" class="perfil" alt="Foto de Perfil" (click)="takePicture()">
    </div>

  
  <ion-list>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-text>Jose Bolados</ion-text>
    </ion-item>


    <ion-item>
      <ion-label>Teléfono:</ion-label>
      <ion-text>9 4482 9195</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Patente:</ion-label>
      <ion-text> 189BCC</ion-text>
    </ion-item>
  </ion-list>
  </div>