<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Verificar Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="fondo-g" style="padding-top: 100px; padding-bottom: 250px;">
    <!-- Contraseña -->
    <ion-item>
      <ion-label position="floating">Clave</ion-label>
      <ion-input [(ngModel)]="registerUser.clave" name="clave" required minlength="8" type="password" #clave="ngModel"></ion-input>
    </ion-item>
    <ion-note *ngIf="clave.invalid && clave.touched" color="white">
      La clave es requerida y debe tener al menos 8 caracteres.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Repetir Clave</ion-label>
      <ion-input [(ngModel)]="registerUser.repeatedClave" name="repeatedClave" required minlength="8" type="password" #repeatedClave="ngModel"></ion-input>
    </ion-item>
    <ion-note *ngIf="repeatedClave.invalid && repeatedClave.touched" color="white">
      La repetición de la clave es requerida y debe tener al menos 8 caracteres.
    </ion-note>
    <ion-note *ngIf="!passwordsMatch && passwordChecked" color="white">
      Las contraseñas no coinciden.
    </ion-note>

    <!-- Botón para verificar -->
    <ion-button expand="full" (click)="onVerifyPassword()" [disabled]="clave.invalid">
      Cambiar Contraseña
    </ion-button>

    <!-- Mensaje de error si las contraseñas no coinciden -->
    <ion-note *ngIf="!passwordsMatch && passwordChecked" color="white">
      La contraseña no coincide.
    </ion-note>
  </div>
</ion-content>
