<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="fondo">

    <ion-content *ngIf="producto" class="fondo-g">
      <ion-card>
        <img [src]="producto.foto" alt="Imagen del producto">
        <ion-card-header>
          <ion-card-title>{{ producto.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content >
          
          <p>Precio:${{ producto.precio }}</p>
          <p>Descripcion: {{ producto.descripcion }}</p>
        </ion-card-content>
      </ion-card>
    </ion-content>

    <ion-button (click)="agregarAlCarrito()" expand="full" color="primary">
      Agregar al Carrito
    </ion-button>

  </div>
</ion-content>