
<ion-header>
  
  <div class="head">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
      <img src="assets/logo.png" class="logo" slot="end">

  </ion-toolbar>
  </div> 
</ion-header>

<ion-content class="fondo">
 
  <div class="fondo">

  <ion-card (click)="verPromocion()">
    <ion-img src="assets/promo.avif"></ion-img>
    <ion-card-header>
      <ion-card-title>2x1 en pizzas medianas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ¡Disfruta de esta oferta por tiempo limitado!
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Productos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let producto of productos">
            <ion-card (click)="verDetalleProducto(producto)">
              <img [src]="producto.imagen" />
              <ion-card-title>{{ producto.nombre }}</ion-card-title>
              <p>{{ producto.precio | currency }}</p>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  </div>

  
</ion-content>
