/* Estilo global para que el ion-content permita scroll */
ion-content {
  --background: #f8f8f8;
  overflow-y: auto;
}

/* Asegurar que las imágenes de los productos tengan tamaño ajustado */
.producto-imagen {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* Añadir márgenes entre los productos */
.producto-card {
  margin-bottom: 16px;
}

/* Ajustar el contenedor principal */
.productos-container {
  padding: 16px;
}

img {
  width: 100%;  /* Para que la imagen ocupe todo el contenedor */
  height: 150px; /* Ajusta la altura */
  object-fit: cover; /* Asegura que la imagen mantenga las proporciones */
 }

 .logo{

  width: 50px;
 

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}