


.button-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3; 
  z-index: 1;
}

.button-logo {
  height: 190px; 
}

.admin-button span {
  z-index: 2; 
}


.logo {
  height: 50px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}