<ion-header>
  <ion-toolbar>
    <ion-title>Gestion Productos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-g">
    <form (submit)="productoActual ? modificarProducto() : agregarProducto()">
      <ion-item>
        <ion-label position="floating">Nombre del Producto</ion-label>
        <ion-input [(ngModel)]="nuevoProducto.nombre" name="nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea [(ngModel)]="nuevoProducto.descripcion" name="descripcion"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input type="number" [(ngModel)]="nuevoProducto.precio" name="precio" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input type="number" [(ngModel)]="nuevoProducto.stock" name="stock" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Foto</ion-label>
        <ion-button (click)="takePicture()">Tomar Foto</ion-button>
      </ion-item>

      <div *ngIf="nuevoProducto.foto">
        <img [src]="nuevoProducto.foto" alt="Foto del producto" style="width: 100px; height: 100px; margin-top: 10px; border-radius: 5px;">
      </div>

      <ion-button expand="full" type="submit">
        {{ productoActual ? 'Guardar Cambios' : 'Agregar Producto' }}
      </ion-button>
      <ion-button expand="full" color="medium" (click)="limpiarCampos()" *ngIf="productoActual">
        Cancelar Edición
      </ion-button>
    </form>

    <!-- Lista de productos -->
    <ion-list>
      <ion-list-header>
        <ion-label>Productos Disponibles</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let producto of productos">
        <ion-label>
          <h5>{{ producto.nombre }}</h5>
          <p>Precio: ${{ producto.precio }}</p>
          <p>Stock: {{ producto.stock }}</p>
          <p>Disponibilidad: {{ producto.id_cat === 0 ? 'Disponible' : 'No disponible' }}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button color="primary" (click)="cargarDatosProducto(producto)">
            Editar
          </ion-button>
          <ion-button color="danger" (click)="cambiarEstadoProducto(producto.id_prod)">
            {{ producto.id_cat === 0 ? 'Deshabilitar' : 'Habilitar' }}
          </ion-button>
          
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
