<ion-header>
  <ion-toolbar>
    <ion-title>Gestión de Productos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Formulario para agregar o editar producto -->
  <ion-button routerLink="/administrador-usuario">Ir a la Ruta</ion-button>


  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ productoActual ? 'Editar Producto' : 'Agregar Producto' }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">descripcion</ion-label>
        <ion-input [(ngModel)]="descripcion" type="text" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input [(ngModel)]="precio" type="number" min="0" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input [(ngModel)]="stock" type="number" min="0" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Foto</ion-label>
        <ion-button (click)="takePicture()">Tomar Foto</ion-button>
      </ion-item>
    
      <div *ngIf="imagen">
        <img [src]="imagen" alt="Foto del usuario" style="width: 100px; height: 100px; margin-top: 10px; border-radius: 5px;">
      </div>



      <ion-button expand="full" (click)="productoActual ? modificarProducto() : agregarProducto()">
        {{ productoActual ? 'Guardar Cambios' : 'Agregar Producto' }}
      </ion-button>
      <ion-button expand="full" color="medium" (click)="limpiarCampos()" *ngIf="productoActual">
        Cancelar Edición
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Lista de productos -->
  <ion-list>
    <ion-list-header>
      <ion-label>Productos Disponibles</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let producto of productos">
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        
        <p>Precio: ${{ producto.precio }}</p>
        <p>Stock: {{ producto.stock }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="cargarDatosProducto(producto)">
          Editar
        </ion-button>
        <ion-button color="danger" (click)="eliminarProducto(producto.id_prod)">
          Eliminar
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>